[user]
    email = fidelicura@gmail.com
    name = Kirill Bezuglyi
    signingkey = ~/.ssh/self_key.pub

[gpg]
    format = ssh

[commit]
    gpgsign = true

[includeIf "gitdir:~/Work/"]
    path = ~/Work/.gitconfig
