configuration {
    show-icons: true;
    font: "Iosevka 12";
    modes: "drun,filebrowser";
    icon-theme: "gruvbox-dark";

    display-drun:   "> drun:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 120;
}

@theme "theme"
